html { 
    overflow-x: hidden; 
}

body {
    font-family: sans-serif;
    
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1 {
    border-style: solid;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color:silver;
}

#introduction {
    margin: 2em;
    margin-top: 4em;
    background-color: aquamarine;
    text-size-adjust: 30px;
}

#mid {
    margin: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 6em;
    row-gap: 0.1em;
    background-color:lightgoldenrodyellow;
}

#bottom {
    margin: 2em;
    margin-top: -30em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    row-gap: 0em;
    column-gap: 1em;
    background-color: lightcoral;
}

footer {
    margin-left: 2em;
    margin-bottom: 1em;
}


  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
 
  .details {
    border-radius: 5px;
    background-color:darkorchid;
    padding: 20px;
    margin-top: 70px;
    border:solid #5B6BCD 5px;
    margin-left:27em;
  }

  .converter {
      margin: 2em;
  }

  #profilepic {
      grid-column-start: 4;
      grid-row-start: 1;

  }

  
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: solid #5B6DCD 2px; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  

  #Interest{
      grid-column-start: 4;
      grid-row-start: 2;
      background-color: purple;
      height:225px;
    
      border-right:40px;
  }

  #links {
      grid-column-start: 3;
      grid-row-start: 1;
      margin-top:0px;
      background-color: rgb(201, 211, 112);
      margin-left:0px;
      padding-bottom:13em;
      
  }

  .tg {
      grid-column-start: 2;
      grid-row-start: 1;
      background-color: rgb(90, 231, 114);
      margin-top:-250px;
      padding-left:12em;
      padding-right:12em;

    
  }

  #ferrari {
      grid-column-start: 2;
      grid-row-start: 1;
      
      margin-top:0px;
      border:blue 5px;
      margin-left:0px;
  }

  #video {
      grid-column-start: 3;
      grid-row-start: 1;
      margin-top: 0em;
      margin-right: -12em;
      
  }

  .foot {
      margin-top: 3em;
  }
  .unorder{
      column-count:3;
      display:flex;
      flex-direction:column;
      background-color:lightgoldenrodyellow;
  }
  #userInput{
   margin-top:12em;

  }
